.titulo-principal{
    text-align: center;
    margin-top: 2.3%;
    margin-bottom: 2.3%;
}

.img-ref{
    width: 750px;
    margin:auto;
}

.logo{
    width: 200px;
    margin:auto;
    opacity: 80%;
}

.fondo{
    background-image: url("..//img/FondoIndex2.png");
}

.carru{
    width: auto;
    height: 395px;  
}

.titulo-inicio{
    font-family: 'Black Ops One';
    font-size: 80px;
    color: #11005e;

}

#home, #producto, #informacion{
    height: 100vh;
}

.false-btn{
    border:1px solid #25ac84;
    background-color: #ffff;
    color:#25ac84;
    padding: 4%;
    border-radius: 6px;
}

.false-btn:hover{
    border:1px solid #e970e0;
    background-color: #ffff;
    color:#e970e0;
}